.o_more_info_button {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 25px;
  height: 25px;
  animation: o-anim-heartbeat 5s ease-in-out 1s infinite;
}

.o_more_info_button,
.o_more_info_button:hover,
.o_no_style,
.o_no_style:hover {
  text-decoration: none;
  color: initial;
}
